.mainContainer {
  margin: 0 150px;
}

.arrowBackIcon {
  width: 12px;
  height: 12px;
  margin-right: 6px;
}

.backToDecksList {
  cursor: pointer;

  margin: 24px 0 33px;

  font-size: var(--font-size-s);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-m);
  color: var(--color-light-100);
}

.linkBackPacks {
  text-decoration: none;
}

.descriptionDeckWrapper {
  display: flex;
  justify-content: center;
  margin: 69px 0 30px;
}

.descriptionDeck {
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-m);
  color: var(--color-dark-100);
}

.addNewCardWrapper {
  display: flex;
  justify-content: center;
}

.typographyAndButton {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.inputSearchWrapper {
  margin-bottom: 24px;
}

.trashButton {
  margin-left: 10px;
  padding: 0;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.actionsHide {
  display: none;
}

.tableCellQuestion,
.tableCellAnswer {
  width: 400px;
  word-break: break-all;
}

.tableCellDate,
.tableCellGrade {
  width: 200px;
}
