.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 420px;
  min-height: 528px;
  padding-top: 33px;

  border-radius: 4px;
}

.title {
  padding-bottom: 27px;
  text-align: center;
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;

  width: 325px;
  margin-bottom: 20px;
}

.checkbox {
  transform: translateY(-20px);
  margin: 12px 0 6px;
}

.forgotLink,
.forgotLink:visited {
  transform: translateY(-20px);

  margin-bottom: 60px;

  color: var(--color-light-100);
  text-align: right;
  text-decoration: none;
}

.caption {
  margin-bottom: 11px;
  color: var(--color-light-900);
  text-align: center;
}

.buttonSignIn {
  width: 100%;
}

.buttonSignUp {
  text-decoration: underline;
}

.checkboxAndLinkWrapper {
  width: 100%;
  margin: 12px 0 66px;
}

.checkboxWrapper {
  display: flex;
  height: 10px;
  margin-bottom: 6px;
  margin-left: -9px;
}

.linkWrapper {
  display: flex;
  justify-content: flex-end;
  height: 10px;
}
