.selectWrapper {
  display: flex;
  flex-direction: column;

  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-m);
}

.LabelRoot {
  font-size: var(--font-size-s);
  color: var(--color-dark-100);
}

.LabelRootDisabled {
  font-size: var(--font-size-s);
  color: var(--color-dark-300);
}

button {
  all: unset;
  font-size: var(--font-size-m);
  color: var(--color-light-100);
}

.SelectTrigger {
  display: inline-flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;

  padding: 0 5px;

  background-color: inherit;
  border: 1px solid var(--color-dark-300);
  border-radius: 2px;
  box-shadow: 0 2px 10px var(--black-a7);
}

.selectSize {
  min-width: 210px;
  height: 36px;
  padding: 0 15px;
}

.SelectTrigger:hover {
  background-color: var(--color-dark-500);
}

.SelectTrigger:focus {
  box-shadow: 0 0 0 1px var(--color-info-700);
}

.SelectTrigger:disabled {
  color: var(--color-dark-300);

  .LabelRoot {
    color: var(--color-dark-300);
  }
}

.SelectDownIcon,
.SelectUpIcon {
  color: var(--color-light-100);
}

.SelectDownIcon[data-state='closed'] {
  overflow: visible;
}

.SelectUpIcon[data-state='closed'] {
  overflow: hidden;
}

.SelectContent {
  overflow: hidden;

  width: var(--radix-select-trigger-width);
  max-height: var(--radix-select-content-available-height);

  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-300);
  border-radius: 2px;
}

.SelectItem {
  display: flex;
  align-items: center;

  height: 36px;
  padding: 6px 35px 6px 15px;

  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  color: var(--color-light-100);

  border-radius: 2px;

  &:hover {
    color: var(--color-accent-300);
    background-color: var(--color-accent-900);
    outline: none;
  }

  &:focus {
    outline: none;
  }
}

.selectItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
