@mixin button {
  all: unset;

  cursor: pointer;

  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  padding: 6px 28px;

  border-radius: 4px;

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }

  &:focus-visible {
    border: 2px solid var(--color-info-700);
  }

  &.fullWidth {
    width: 100%;
  }
}

.primary {
  @include button;

  color: var(--color-light-100);
  background-color: var(--color-accent-500);
  box-shadow: 0 4px 18px 0 rgb(140 97 255 / 35%);

  &:active:enabled {
    background-color: var(--color-accent-700);
  }

  &:hover:enabled {
    background-color: var(--color-accent-300);
  }
}

.secondary {
  @include button;

  color: var(--color-light-100);
  background-color: var(--color-dark-300);
  box-shadow: 0 4px 4px 0 rgb(77 86 96 / 13%);

  &:active:enabled {
    background-color: var(--color-dark-500);
  }

  &:hover:enabled {
    background-color: var(--color-dark-100);
  }
}

.tertiary {
  @include button;

  color: var(--color-accent-500);
  background-color: inherit;
  border: 1px solid var(--color-accent-500);

  &:active:enabled {
    color: var(--color-accent-700);
    background-color: var(--color-accent-900);
  }

  &:hover {
    color: var(--color-accent-700);
    background-color: var(--color-dark-500);
  }
}

.link {
  @include button;

  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-m);
  color: var(--color-accent-700);

  &:visited {
    color: var(--color-accent-300);
  }
}
