.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 420px;
  min-height: 384px;

  border-radius: 4px;

  .title {
    margin-top: 35px;
  }

  .form {
    display: flex;
    flex-direction: column;
    margin-top: 35px;

    .description {
      width: 325px;
      margin: 20px 0 40px;
      color: var(--color-light-900);
      opacity: 0.5;
    }

    .button {
      width: 325px;
      margin-bottom: 60px;
    }
  }
}
