.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 420px;
  min-height: 350px;
  margin: 40px auto;
  padding-top: 33px;

  border-radius: 4px;

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 27px;

    .avatar {
      position: relative;
      margin-bottom: 6px;

      .avatarImg {
        width: 96px;
        height: 96px;
        border-radius: 50px;
      }

      .editIconAvatarWrapper {
        position: absolute;
        top: 70px;
        left: 70px;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 24px;
        height: 24px;

        background-color: var(--color-dark-300);
        border-radius: 4px;
        box-shadow: 0 2px 10px 0 rgb(109 109 109 / 25%);

        .editIconAvatar {
          width: 16px;
          height: 16px;
        }
      }
    }

    .infoContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .name {
        display: flex;
        font-size: 20px;
        font-weight: 700;
        line-height: 36px;

        .editNameIcon {
          width: 16px;
          height: 16px;
          margin: 11px 0 0 5px;
        }
      }

      .email {
        margin-bottom: 13px;

        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        color: var(--color-dark-100);
      }
    }

    .saveChangeButton {
      width: 100%;
      margin-top: 36px;
    }

    .changeName {
      margin-bottom: 80px;
    }
  }
}
