.mainContainer {
  margin: 0 150px;
}

.titleAndButtonWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titleDeck {
  margin: 33px 0;
}

.decksWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px;
}

.actions {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.trashButton {
  padding: 0;
}

.playCircleButton {
  cursor: pointer;
}

.editIconButton,
.playCircleButton {
  padding: 0;
}

.editIconButton:disabled,
.trashButton:disabled {
  cursor: default;
  opacity: 0.5;
}

.playCircleButton:hover,
.editIconButton:hover,
.trashButton:hover {
  background-color: var(--color-dark-300);
  border-radius: 100px;
  outline: 5px solid var(--color-dark-300);
}

.editIconButton:disabled:hover,
.trashButton:disabled:hover {
  background-color: inherit;
  outline: none;
}

.tableCellName,
.tableCellCardsCount,
.tableCellDate {
  width: 300px;
}

.tableCellAuthorName {
  width: 200px;
}

.inputWidth {
  width: 1000px;
}
