.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 420px;
  min-height: 456px;
  padding-top: 33px;

  .form {
    display: flex;
    flex-direction: column;
    width: 325px;
    margin-top: 51px;

    .description {
      margin: 19px 0 65px;
      color: var(--color-light-900);
      opacity: 0.5;
    }

    .button {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  .rememberPassword {
    margin-bottom: 5px;
    color: var(--color-light-900);
  }

  .buttonTryLoggingIn {
    margin-bottom: 29px;
    text-decoration: underline;
  }
}
